// White

$white: #FFFFFF;
$back: #fafafa;
$dark-back: #f2f2f2;
$alert-secondary: #F5F5F5;
$universal-border: #DADADB;
$white-smoke: #ECECEC;
$white-lilac:#E4E2E5;

// Grey

$grey: #777 ;
$silver: #bbb;
$deep-grey: #e4e3e3;
$light-grey: #d8d8d8;
$lighter-grey: #f0f0f0;
$low-grey: #c1c1c1;
$very-light-grey:#CCCCCC;
$border-grey: #cbcfd2;
$back-grey: #e6e6e6;
$checkout-lighter-grey: #AAAAAA;
$ghost: #CCCCCE ;
$whisper: #f2eeee;
$shady-lady: #979797;
$medium-grey: #8a8484;
$iron: #C0C1C2;
$dim-gray: #666666;
$nobel: #999999;
$dark-grey: #625d5d;
$checkout-darker-grey: #505050;
$mortar: #555555;
$charcoal: #4A4A4A;
$darker-grey: #333333;
$night-rider:#303030;
$cod-grey: #313435;
$nero: #222222;
$darkness: #2c2c2c;
$bunker: #25282A;


// Black

$black: #000000;

// Green

$light-green: #ceffce;
$green-tree: #03B304;
$bg-green: #e5f7e5;
$success: #02b302;
$kelly-green: #1cb41c;
$islamic-green: #009901;
$light-green-tree: rgba(0, 146, 0, 0.72);

// Red

$red-fast:  #EF0000;
$cinnabar: #e4393c;
$alert-red: #DB4F4F;
$sea-pink: #DC7F7F;

// Blue

$blue-sky: #0264D1;
$services:#3E6AB5;
$blumine: #34516b;
$blue-border: #3E5972;
$blue-fast: #0a4a69;
$dark-blue: #293871;
$bahama-blue: #28417c;
$midnight-blue: #1a3063;
$cerulean-blue: #2A6CB4;
$dodger-blue: #3B99FC;
$black-marlin: #3b3b42;
$armour: #d7e3ef;
$resolution-blue: #293871;

// Yellow

$yellow: #FFBA00;
$gold: #bc8f2e;
$pulse: #FFE2005C;
