$regular: 'Open Sans', sans-serif !important;

$default-font: 'Open Sans', sans-serif !important;
$default-font-light: 300;
$default-font-regula: 400;
$default-font-semibold: 600;
$default-font-bold: 600;

$default-font-serif: 'Lora', serif !important;
$default-font-serif-regula: normal;
$default-font-serif-bold: bold;