<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div class="row animated fadeIn">
    <div class="col-3">
        <h1>Promoções cadastradas </h1>
    </div>
    <div class="col-4 mb-4">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquise por nome, data, etc…" aria-label="Pesquise por nome, data, etc…" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button mdbBtn color="primary" outline="true" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2" mdbWavesEffect>
                        <i class="fas fa-search"></i>    
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3 offset-2 text-right">
        <a href="#" routerLink="/promotion/open/add" class="btn btn-success">Cadastrar nova promoção</a>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-md-12">
        <ngx-datatable style="width: 100%; min-height: 280px;" class="material" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10">
            <ngx-datatable-column name="Hierarquia" prop="hierarchy" [width]="30">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center">
                        {{row.hierarchy}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [width]="30">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.status == 'ENABLE'" class="enableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Ativo
                    </div>
                    <div *ngIf="row.status != 'ENABLE'" class="disableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Inativo
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nome" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Selo" prop="tag"></ngx-datatable-column>
            <ngx-datatable-column name="Início" prop="startAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.startAt | date:'dd/MM/yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Término" prop="startAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.endAt">{{row.endAt | date:'dd/MM/yyyy HH:mm'}}</span>
                    <span *ngIf="!row.endAt">Indeterminado</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" [width]="60">
                <ng-template let-row="row" ngx-datatable-cell-template>

                    <div class="dropdown" mdbDropdown>
                        <button mdbDropdownToggle mdbBtn class="dropdown-toggle waves-light white btn-sm" type="button" mdbWavesEffect>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>

                        <div class="dropdown-menu dropdown-primary fa-sm">
                            <a routerLink="/promotion/open/edit/{{row.id}}" class="dropdown-item" href="#">Editar</a>
                            <a routerLink="/promotion/open/products/{{row.id}}" class="dropdown-item" href="#">Visualizar produtos</a>
                            <a (click)="updateStatusPromotion(row.id,row.status)" class="dropdown-item disableColor" *ngIf="row.status == 'ENABLE'">Inativar</a>
                            <a (click)="updateStatusPromotion(row.id,row.status)" class="dropdown-item enableColor" *ngIf="row.status != 'ENABLE'">Ativar</a>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>