<!-- <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb> -->

<div class="row animated fadeIn mt-3">
    <div class="col-9" *ngIf="promotion">
        <h1>Produtos da promoção - {{promotion.name}}</h1>
    </div>
    <div class="col-2 offset-1 text-right">
        <a routerLink="/promotion/open/{{search}}" mdbBtn color="success" mdbWavesEffect
            class="z-depth-0 waves-effect">Ir para painel</a>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-12">
        <!-- [selected]="selected"  [selectionType]="SelectionType.checkbox" -->
        <ngx-datatable style="width: 100%" class="material" [rows]="rows" [columnMode]="ColumnMode.force"
            [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="100"
            [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
            (activate)="onActivate($event)" (select)="onSelect($event)">
            <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Sku" [width]="40"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="Status" [width]="20">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.status == 'ENABLE'" class="enableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Ativo
                    </div>
                    <div *ngIf="row.status != 'ENABLE'" class="disableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Inativo
                    </div>
                </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Produto" prop="prd"></ngx-datatable-column>

            <ngx-datatable-column *ngIf="showPrice" name="Promocional" prop="fixedPrice">
                <!-- <div [formGroup]="productsForm">
                    <div formArrayName="products"> 
                        [formGroupName]="rowIndex"
                    formControlName="product" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"-->
                <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.fixedPrice">
                        <!-- <input name="product" (change)="updateValue(row.sku,$event.target.value)" id="fixedPrice-{{rowIndex}}" type="number" [value]="row.fixedPrice" class="form-control" mdbInput /> -->
                        R$ {{row.fixedPrice | number:'.2-2' }}
                    </div>
                </ng-template>
                <!-- </div>
</div> -->
            </ngx-datatable-column>

            <ngx-datatable-column name="Criado" [width]="20" prop="createdDate">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdDate | date:'dd/MM/yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-5 offset-7 text-right">
        <a routerLink="/promotion/open/{{search}}" mdbBtn color="success" mdbWavesEffect
            class="z-depth-0 my-4 waves-effect">Ir para painel</a>
    </div>
</div>