<app-steps [routeId]="routeId" [infoStep]="true" [definitionStep]="true" [periodStep]="true" [paymentStep]="true" [stockStep]="true"></app-steps>

<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div class="container animated fadeIn">
    <form (ngSubmit)="onSubmit()" class="animated fadeIn">

        <!-- PRODUCT -->
        <div class="row justify-content-md-center">
            <div class="col-6">
                <!-- Material form contact -->
                <mdb-card>
                    <!--Card content-->
                    <mdb-card-body class="px-md-5 pt-md-5">

                        <div class="form-row">
                            <div class="col-9">
                                <h4>Limitar tipo de pagamento?</h4>
                                <h6 class="font-weight-light">Selecione os tipos de pagamento permitidos.</h6>
                            </div>
                            <div class="col-2">
                                <div class="switch">
                                    <label>
                                            <input type="checkbox" (click)="togglePayment()" [checked]="showPayment" >
                                            <span class="lever"></span> 
                                            </label>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="showPayment" [ngClass]="(!showPayment)? '' :'animated fadeIn'">

                            <!-- Tipo de pagamentos -->
                            <div class="animated fadeIn">
                                <div class="md-form col-12">
                                    <div class="row">
                                        Tipo de pagamentos
                                        <a href="javascript:void(0)" (click)="showModalPayment=true" class="font-12 select-link" mdbWavesEffect> Selecionar</a>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 px-0">
                                        <div *ngFor="let sel of selecteds; let i = index " class="chip">
                                            {{sel.name}}
                                            <mdb-icon fas icon="times" class="close" (click)="remove(i)"></mdb-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tipo de pagamentos -->

                        </div>

                    </mdb-card-body>
                </mdb-card>
                <!-- Material form contact -->
            </div>
        </div>
        <!-- /PRODUCT -->


        <div class="row">
            <div class="col-6 offset-3 text-right">
                <button type="button" (click)="onBack()" outline="true" mdbBtn color="success" mdbWavesEffect class="z-depth-0 my-4 waves-effect">Voltar</button>

                <button *ngIf="showPayment" (click)="onlySave=true;onSubmit();" type="submit" mdbBtn color="success" mdbWavesEffect class="z-depth-0 my-4 ml-3 waves-effect">Salvar</button>
                <button type="submit" (click)="onlySave=false;onSubmit();" mdbBtn color="success" mdbWavesEffect class="z-depth-0 my-4 ml-3 waves-effect">Ir para próximo passo</button>
            </div>
        </div>
    </form>
    <!-- Form -->
</div>

<app-modal-selection #appModal *ngIf="showModalPayment" [title]="title" [rows]="paymentTypes" [temp]="paymentTypes" [selected]="selecteds" (getSelecteds)="selection($event)"></app-modal-selection>