<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 430px;">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title w-100 font-weight-bold">
                    {{title}}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide(); validatingForm.reset()">
                    <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-12 md-outline">
                    <input type="text" id="inputSearch" (keyup)="updateFilter($event)" class="form-control" mdbInput mdbValidate>
                    <label for="inputSearch">Pesquisar</label>
                </div>
                <!-- <div class="mb-12 text-right">
                    <h6><a href="#" class="danger"> Limpar seleção </a></h6>
                </div> -->
                <div>
                    <div style="float:left;width:100%">
                        <ngx-datatable #table style="width: 100%" class="default" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="30" [limit]="5" [selected]="selected" [selectionType]="SelectionType.checkbox" (activate)="onActivate($event)"
                            [rowHeight]="50" [scrollbarV]="true" [scrollbarH]="true" (select)="onSelect($event)">
                            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                    <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
                                </ng-template>
                                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                    <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Todos" prop="name"></ngx-datatable-column>
                        </ngx-datatable>
                    </div>

                </div>


            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-11 offset-1 text-center">
                        <button mdbBtn color="primary" class="waves-info" mdbWavesEffect (click)="getSelection();frame.hide();">Aplicar seleção</button>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <h6><a href="javascript:void(0)" class="text-danger" data-dismiss="modal" aria-label="Close" (click)="frame.hide(); validatingForm.reset()"> Cancelar</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>