<div class="row breadcrumbfast">
    <div class="col-12">
        <h6>Página Inicial > Promoção > Cupons > Cadastro</h6>
    </div>
</div>

<div class="container animated fadeIn">
    <!-- INFOGERAL -->
    <div class="row justify-content-md-center">
        <div class="col-6">
            <!-- Material form contact -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body class="px-md-5 pt-md-5">
                    <!-- Form -->

                    <div class="form-row">
                        <div class="col-8">
                            <h4>Informações gerais</h4>
                        </div>
                    </div>
                    <form class="animated fadeIn">
                        <div class="form-row">
                            <div class="col-3">
                                <div class="md-form md-outline">
                                    <input onlyNumber id="date_start" type="text" length="10" placeholder="1-99" class="form-control" mdbCharCounter mdbInput />
                                    <label for="date_start">hierarchy</label>
                                </div>
                            </div>
                            <div class="col-7 text-right pt-4">
                                <div class="switch">
                                    <label>
                                        Ativar promoção?
                                              <input type="checkbox" (click)="toggleInfoGeral()" [checked]="showInfoGeral" >
                                              <span class="lever"></span> 
                                            </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-11">
                                <div class="md-form md-outline">
                                    <input id="name" type="text" length="10" placeholder="Ex: Promoção de Natal Samsung" class="form-control" mdbCharCounter mdbInput />
                                    <label for="name">Nome da promoção</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-11">
                                <div class="md-form md-outline">
                                    <textarea rows="3" id="description" length="144" placeholder="Ex: Promoção solicitada via e-mail pelo gerente João no dia 20 de janeiro de 2020." class="form-control md-textarea" mdbCharCounter mdbInput></textarea>
                                    <label for="description">Descrição (opcional)</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-11">
                                <div class="md-form md-outline">
                                    <input id="coupon" type="text" length="10" placeholder="Ex: Desconto Primeira Compra" class="form-control" mdbCharCounter mdbInput />
                                    <label for="coupon">tag no carrinho do cliente</label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Form -->

                </mdb-card-body>

            </mdb-card>
            <!-- Material form contact -->
        </div>
    </div>
    <!-- /INFOGERAL -->

    <!-- PERIOD -->
    <div class="row justify-content-md-center">
        <div class="col-6">
            <!-- Material form contact -->
            <mdb-card>
                <!--Card content-->
                <mdb-card-body class="px-md-5 pt-md-5">
                    <!-- Form -->

                    <div class="form-row">
                        <div class="col-9">
                            <h5>Definir período da promoção?</h5>
                            <h6>Defina uma data de início e término para a promoção.</h6>
                        </div>
                        <div class="col-2">
                            <div class="switch">
                                <label>
                                          <input type="checkbox" (click)="togglePeriod()" [checked]="showPeriod" >
                                          <span class="lever"></span> 
                                        </label>
                            </div>
                        </div>

                    </div>
                    <form *ngIf="showPeriod" [ngClass]="(!showPeriod)? '' :'animated fadeIn'  ">
                        <div class="form-row">
                            <div class="col-7">
                                <div class="md-form md-outline">
                                    <input id="date_start" type="text" length="10" placeholder="DD/MM/AAAA" class="form-control" mdbCharCounter mdbInput />
                                    <label for="date_start">Início</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form md-outline">
                                    <input id="date_start_hour" type="text" length="5" placeholder="HH:MM" class="form-control" mdbCharCounter mdbInput />
                                    <label for="date_start_hour">Horário</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-7">
                                <div class="md-form md-outline">
                                    <input id="date_end" type="text" length="10" placeholder="DD/MM/AAAA" class="form-control" mdbCharCounter mdbInput />
                                    <label for="date_end">Término</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="md-form md-outline">
                                    <input id="date_end_hour" type="text" length="5" placeholder="HH:MM" class="form-control" mdbCharCounter mdbInput />
                                    <label for="date_end_hour">Horário</label>
                                </div>
                            </div>
                        </div>
                        <!-- 
                        <div class="form-row">
                            <div class="col-4 md-form">
                                <mdb-checkbox>Sem término</mdb-checkbox>
                            </div>
                        </div> -->

                    </form>
                    <!-- Form -->

                </mdb-card-body>

            </mdb-card>
            <!-- Material form contact -->
        </div>
    </div>
    <!-- /PERIOD -->

    <div class="row">
        <div class="col-3 offset-6 text-right">
            <button type="button" mdbBtn color="success" mdbWavesEffect class="z-depth-0 my-4 waves-effect">Ir para próximo passo</button>
        </div>
    </div>

</div>