<div class="row breadcrumbfast">
    <div class="col-12">
        <h6>Página Inicial > Promoção > Cupons</h6>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-3">
        <h1>Promoções cadastradas </h1>
    </div>
    <div class="col-4 mb-4">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquise por nome, cupom, data, etc…" aria-label="Pesquise por nome, cupom, data, etc…" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button mdbBtn color="primary" outline="true" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2" mdbWavesEffect>
                        <i class="fas fa-search"></i>    
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3 offset-2 text-right">
        <a href="#" routerLink="/promotion/coupons/add" class="btn btn-success">Cadastrar nova promoção</a>
    </div>
</div>

<div class="row animated fadeIn">
    <div class="col-md-12">
        <ngx-datatable style="width: 100%" class="material" [rows]="rows" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="8" [selected]="selected" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false"
            [displayCheck]="displayCheck" (activate)="onActivate($event)" (select)="onSelect($event)">
            <ngx-datatable-column [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>
            <ngx-datatable-column name="Name"></ngx-datatable-column>
            <ngx-datatable-column name="Gender"></ngx-datatable-column>
            <ngx-datatable-column name="Company"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>