<div class="col-4 offset-4">

    <!-- Card -->
    <mdb-card>
        <div class="mt-5 text-center" mdbWavesEffect>
            <!-- Card img -->
            <!-- <mdb-card-img src="assets/img/fastshop.png" alt="Card image cap"></mdb-card-img> -->
            <img src="assets/img/fastshop.png" height="70" alt="">

        </div>
        <!--Card content-->
        <mdb-card-body>


            <!--Text-->
            <mdb-card-text>
                <h4>Gerenciador de Promoção</h4>

                <!-- Form -->
                <form class="text-center mt-3" style="color: #757575;">

                    <!-- Sign in button -->
                    <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect type="submit">Login</button>

                </form>
                <!-- Form -->

            </mdb-card-text>

        </mdb-card-body>
    </mdb-card>
    <!-- Card -->

</div>