<div class="steps-promotion isDesktop">
    <h5>Propriedades {{strPromo}}</h5>
    <div class="row" [ngClass]="(infoStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Informações gerais</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
    <div class="row" [ngClass]="(definitionStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Definições</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
    <div class="row" [ngClass]="(periodStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Duração</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>

    <h5 class="mt-5" *ngIf="typePromo === 'open'">Restrições {{strPromo}}</h5>
    <div class="row" *ngIf="typePromo === 'open'" [ngClass]="(paymentStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Forma de pagamento</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>

    <h5 class="mt-5">Propriedades dos produtos</h5>
    <div class="row" [ngClass]="(stockStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Estoque</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
    <div class="row" [ngClass]="(productsStep)? 'active' : ''">
        <div class="col-md-10">
            <strong>Catálogo de produtos</strong>
        </div>
        <div class="col-md-2">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
</div>