<!-- <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>Launch Modal</button> -->

<div mdbModal #frame="mdbModal" class="modal fade left show" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', ignoreBackdropClick: true}" style="display: block;">
    <div class="modal-dialog" role="document" style="width: 430px;">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title w-100 font-weight-bold">
                    {{title}}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="getSelectionAndClose(true); frame.hide();">
                    <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body mx-3" style="max-height: 540px; overflow-y: scroll;">
                <div class="md-form mb-12 md-outline">
                    <input type="text" id="inputSearch" (keyup)="updateFilter($event)" class="form-control" mdbInput mdbValidate>
                    <label for="inputSearch">Pesquisar</label>
                </div>
                <div class="mb-12 text-right">
                    <h6>
                        <a href="javascript:void(0)" class="danger" (click)="selectAll(false)"> Limpar seleção </a></h6>
                </div>
                <div>
                    <div style="float:left;width:100%">
                        <table class="table table-striped" *ngIf="rows">
                            <thead>
                                <tr>
                                    <th> <input type="checkbox" value="1" [checked]="selected.length == rows.length" (change)="selectAll($event.target.checked)"> </th>
                                    <th> Nomes </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows; let i=i ndex">
                                    <td>
                                        <input type="checkbox" (change)="onSelect(row,$event.target.checked)" name="check[]" id="check-{{i}}" [checked]="isSelected(row.id)" [value]="row">
                                    </td>
                                    <td *ngIf="option!='ST'">{{row.name}}</td>
                                    <td *ngIf="option=='ST'">{{row.street}} - {{row.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="!rows">
                            <h5>
                                Nada encontrado
                            </h5>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <div class="row">
                    <div class="col-11 offset-1 text-center">
                        <button mdbBtn color="primary" class="waves-info" mdbWavesEffect (click)="getSelectionAndClose();frame.hide();">Aplicar seleção</button>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <h6>
                        <a href="javascript:void(0)" class="text-danger" data-dismiss="modal" aria-label="Close" (click)="getSelectionAndClose();frame.hide();">Cancelar</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>