/* You can add global styles to this file, and also import other style files */

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
app-steps {
    width: 281px;
    height: 100%;
    float: right;
    position: fixed;
    top: 72px;
    right: 0;
    background: #FAFAFA;
    padding: 40px 20px 20px 30px;
    h4 {
        margin-bottom: 20px;
    }
    div.row {
        font-size: 14px;
        color: #AAAAAA;
        &.active {
            color: #02B302;
        }
        i {
            font-size: 16px;
        }
    }
}

app-headers {
    mdb-navbar {
        .navbar {
            position: fixed;
            z-index: 99;
            width: 100%;
        }
    }
}

app-load{
    background: #00000054;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
}

.isDesktop { display: block !important;}
.isMobile { display: none !important;}

@media only screen and (max-width: 992px){

    .isDesktop { display: none !important;}
    .isMobile { display: block !important;}
    app-steps { display: none;}
}