<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div class="row animated fadeIn">
    <div class="col-md-3">
        <h1>{{strTitlePromo}}</h1>
    </div>
    <div class="col-md-4 mb-2">
        <form (ngSubmit)="onSubmit()" class="animated fadeIn" enctype="multipart/form-data">
            <div class="form-group" [formGroup]="searchForm">
                <div class="input-group">
                    <input formControlName="search" type="text" class="form-control"
                        placeholder="Pesquise por {{strNameOfPromo}}" aria-label="Pesquise por nome, data, etc…"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button mdbBtn color="primary" outline="true" size="md" class="m-0 px-3 py-2" type="submit"
                            id="button-addon2" mdbWavesEffect>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 offset-md-2 text-right" *ngIf="typePromo">
        <a href="#" routerLink="/promotion/{{typePromo}}/add" class="btn btn-success">{{strNewPromo}}</a>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="typePromo">
    <div class="col-md-12">
        <ngx-datatable #table style="width: 100%; min-height: 280px;" class="material" [rows]="rows"
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="100">
            <ngx-datatable-column name="Hierarquia" prop="hierarchy" [width]="30">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div class="text-center">
                        {{row.hierarchy}}
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [width]="50">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.status == 'ENABLE'" class="enableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Ativo
                    </div>
                    <div *ngIf="row.status != 'ENABLE'" class="disableColor">
                        <i class="fas fa-circle fa-xs mr-1"></i> Inativo
                    </div>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="strNameOfPromo" prop="name" [width]="250"></ngx-datatable-column>
            <ngx-datatable-column name="Tag de carrinho" prop="tag"></ngx-datatable-column>
            <ngx-datatable-column name="Início" prop="startAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.startAt | date:'dd/MM/yyyy HH:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Término" prop="startAt">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <span *ngIf="row.endAt">{{row.endAt | date:'dd/MM/yyyy HH:mm'}}</span>
                    <span *ngIf="!row.endAt">Indeterminado</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" [width]="60">
                <ng-template let-row="row" ngx-datatable-cell-template>

                    <div class="dropdown" mdbDropdown>
                        <button mdbDropdownToggle class="noButtonGrid" type="button" mdbWavesEffect>
                            <i class="fas fa-ellipsis-v"></i>
                        </button>

                        <div class="dropdown-menu dropdown-primary fa-sm">
                            <a routerLink="/promotion/{{typePromo}}/step1/{{row.id}}" class="dropdown-item" href="#">Editar</a>
                            <a routerLink="/promotion/{{typePromo}}/products/{{row.id}}" class="dropdown-item"
                                href="#">Visualizar produtos</a>
                            <a (click)="updateStatusPromotion(row.id,row.status)" class="dropdown-item disableColor"
                                *ngIf="row.status == 'ENABLE'">Inativar</a>
                            <a (click)="updateStatusPromotion(row.id,row.status)" class="dropdown-item enableColor"
                                *ngIf="row.status != 'ENABLE'">Ativar</a>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
