<!-- Horizontal Steppers -->
<div class="row header">
    <div class="col-md-12 pr-md-0">

        <!--Navbar-->
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white lighten-1" [containerInside]="false">

            <!-- Navbar brand -->
            <mdb-navbar-brand>
                <a class="navbar-brand" href="#">
                    <img src="assets/img/fastshop.png" height="40" alt="">
                </a>
            </mdb-navbar-brand>

            <!-- Collapsible content -->
            <links>

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Forma de pagamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" mdbWavesEffect>Preço</a>
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            Promoção<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/promotion/open" href="#">Vitrine</a>
                            <!-- <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/promotion/coupons" href="#">Cupom</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Vale Presente</a> -->
                            <!-- <div class="divider dropdown-divider"></div> -->
                        </div>
                    </li>

                </ul>
                <!-- Links -->

                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item avatar dropdown" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            Wesley Simplicio</a>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sair</a>
                        </div>
                    </li>
                </ul>
            </links>
            <!-- Collapsible content -->

        </mdb-navbar>
        <!--/.Navbar-->
    </div>
</div>
<!-- /.Horizontal Steppers -->